<div class="container">
  <section class="row">
    <h1>Tic-Tac-Toe</h1>
  </section>

  <section class="row" id="game-region"></section>
</div>

<%= javascript_tag do %>
  $(function() {
    app.start();
  });
<% end %>