<div class="container">
  <section class="row">
    <h1>Tic-Tac-Toe</h1>
  </section>

  <section class="row">
    <table class="table table-bordered table-cell-hover">
      <tbody>
        <tr><td class="text-center">X</td><td class="text-center">O</td><td class="text-center">O</td></tr>
        <tr><td class="text-center"> </td><td class="text-center">X</td><td class="text-center"> </td></tr>
        <tr><td class="text-center"> </td><td class="text-center"> </td><td class="text-center">X</td></tr>
      </tbody>
    </table>
  </section>
</div>
